*/bin/
*/obj/
*/packages/
/.vs/GT Trace v2/v17/.suo/
/.vs/
/.vs/
*/node_modules/
*/public/build/
*/.DS_Store
/GT.Trace.UI.TraceWebClient/GT.Trace.UI.WebClient/node_modules
/GT.Trace.UI.MaterialLoadingWebApi/obj/Debug/net6.0/GT.Trace.UI.MaterialLoadingWebApi.csproj.AssemblyReference.cache
/GT.Trace.UI.CommonWebApi/obj/Debug/net6.0/GT.Trace.UI.CommonWebApi.csproj.AssemblyReference.cache
